select {
    width: 100%;
    padding: 0.4em;
}

.btn{
    position: relative;
    width: 50%;
    height: 45px;
    background: transparent;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #FFCC00;
    overflow: hidden;
    z-index: 1;
}

.btn::before{
    content: "";
    position: absolute;
    height: 300%;
    width: 100%;
    background: linear-gradient(#FFCC00, #FFCC00, #FFCC00, #FFCC00);
    top: -100%;
    left: 0;
    z-index: -1;
    transition: .5s;
}

.btn:hover:before{
    top: 0;
}