@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #000F2C;
}

.my-notifications {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    text-align: center;
    margin: 1rem auto;
    border: solid #FFCC00;
    border-radius: 8px;
    width: 800px;
    align-items: center;
}

.notifications {
    text-align: center; /* center the inline-block UL inside this container */
}

.notification-res {
    border: solid #FFCC00;
    border-radius: 8px;
    width: 500px;
    margin: 1rem auto;
}
