@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

header {
  display: grid;
  background-color: #ffc600;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  grid-template-columns: auto 1fr auto;
}

/* Logo styling */
header .site-logo {
  width: 79px;
  height: 90px;
  padding-right: 10px;
}

span,
input,
button {
  font-family: Montserrat, sans-serif;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user-name {
  font-weight: bold;
}

.user-name-role {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

input,
button {
  border-radius: 3px;
}
