/*<!-- Authored by Oliver Wuttke, FAN WUTT0019, Edited by (Oliver Wuttke, FAN WUTT0019) -->*/
/*Allows the JS to trigger this CSS to show if new messages have been sent to a user*/
/* red dot for when there is an unseen message */
.notification-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: red;
    transform: translate(-8px, -9px);
}

/* hidden by default */
.notification-dot.hidden {
    display: none;
}

/* bold effect for unseen message */
.nav-link.unread {
    font-weight: bold;
}

