/*<!-- Authored by Hans Pujalte, FAN PUJA0009 -->*/
body {
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  text-align: left;
  overflow: visible;
}

thead {
  background-color: #f4f4f4;
}

th,
td {
  padding: 12px 16px;
  border: 1px solid #ccc;
}

table th:last-child,
table td:last-child {
  text-align: center;
  vertical-align: middle;
}

tr:hover {
  background-color: #f1f1f1;
}

/* Make the table scrollable on small screens */
.table-wrapper {
  overflow: visible;
}

search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.admin-search-bar {
  margin: 0;
  width: auto;
}

.action-dropdown {
  margin-left: auto;
}

/* Edit Modal Window */

.modal {
  display: none; /* hide by default */
  position: fixed;
  z-index: 9999; /* move to top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: white;
  width: 350px;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  text-align: center;
  margin-bottom: 15px;
}

#editForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#editForm label {
  font-size: 14px;
}

#editForm input {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#editForm button {
  margin-top: 10px;
  padding: 8px;
  background-color: #0078d7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#editForm button:hover {
  background-color: #005fa3;
}

.close {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.dropdown-content {
  min-width: 100px !important;
}

/* Delete Modal Window */

.modal p {
  text-align: center;
}

#submitForm .button-group {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;
  gap: 10px; /* space between buttons */
  margin-top: 10px;
}

#submitForm button {
  padding: 8px 16px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#submitForm .confirm-btn {
  background-color: red;
}

#submitForm .cancel-btn {
  background-color: grey;
}

#submitForms .button-group {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;
  gap: 10px; /* space between buttons */
  margin-top: 10px;
}

#submitForms button {
  padding: 8px 16px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#submitForms .confirm-btn {
  background-color: red;
}

#submitForms .cancel-btn {
  background-color: grey;
}
