body {
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  text-align: left;
  overflow: hidden;
}

thead {
  background-color: #f4f4f4;
}

th,
td {
  padding: 12px 16px;
  border: 1px solid #ccc;
}

table th:last-child,
table td:last-child {
  text-align: center;
  vertical-align: middle;
}

tr:hover {
  background-color: #f1f1f1;
}

/* Make the table scrollable on small screens */
.table-wrapper {
  overflow-x: auto;
}

search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.admin-search-bar {
  margin: 0;
  width: auto;
}

.action-dropdown {
  margin-left: auto;
}
