@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.step-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#step1,
#step2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 750px;
    min-height: 450px;
    max-height: 90vh;
    overflow: hidden;
    transform-origin: center center;
    transition: transform 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}

#step2 {
    overflow: scroll !important;
}

.hidden {
    transform: translate(-50%, -50%) scaleX(0) scaleY(0.1);
    pointer-events: none;
}

.visible {
    transform: translate(-50%, -50%) scaleX(1) scaleY(1);
    pointer-events: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #000F2C;
}


#reg-username{
    margin-bottom: 40px;
}

.register-form {
    width: 100%;
    justify-content: center;
}

.error-msg {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    display: block;
}

#tc input[type="checkbox"] {
    margin-left: 85px;
    margin-bottom: 25px;
    transform: scale(0.5);
}

#tc {
    margin-bottom: 25px;
    margin-left: 25px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

.full-reg-form {
    border: 2px solid #FFCC00;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(255, 204, 0, 0.5);
    background: #000F2C;

    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.input-box,
.reg-fields {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 40px;
}

.input-box input,
.reg-fields input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    border-bottom: 2px solid #fff;
    padding-right: 23px;
    transition: .5s;
}

.input-box input:focus,
.input-box input:valid,
.reg-fields input:focus,
.reg-fields input:valid {
    border-bottom: 2px solid white;
}

.input-box label,
.reg-fields label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    transition: .5s;
}

.reg-fields input:focus ~ label,
.reg-fields input:valid ~ label,
.reg-fields input:not(:placeholder-shown) ~ label {
    top: -5px;
    color: #FFCC00;
}


#click-me{
    text-decoration: underline;
    position: relative;
    z-index: 100;
    pointer-events: auto;
}

#login-btn {
    color: #fff;
}

#register {
    color: #fff;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000F2C;
}

.container{
    position: relative;
    width: 750px;
    height: 450px;
    border: 2px solid #FFCC00;
    box-shadow: 0 0 25px #FFCC00;
    overflow: hidden;
}

.container .form-box{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-box.Login{
    left: 0;
    padding: 0 40px;
}

.form-box.Login .animation{
    transform: translateX(0%);
    transition: .7s;
    opacity: 1;
    transition-delay: calc(.1s * var(--S));
}

.container.active .form-box.Login .animation{
    transform: translateX(-120%);
    opacity: 0;
    transition-delay: calc(.1s * var(--D));
}

.form-box.Register{
    /* display: none; */
    right: 0;
    padding: 0 60px;
}

.form-box.Register .animation{
    transform: translateX(120%);
    transition: .7s ease;
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--S));
}

.container.active .form-box.Register .animation{
    transform: translateX(0%);
    opacity: 1;
    filter: blur(0px);
    transition-delay: calc(.1s * var(--li));
}

.form-box h2{
    font-size: 32px;
    text-align: center;
}

.form-box .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 25px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    border-bottom: 2px solid #fff;
    padding-right: 23px;
    transition: .5s;
}

.input-box input:focus,
.input-box input:valid{
    border-bottom: 2px solid #FFCC00;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -5px;
    color: #FFCC00;
}

.input-box box-icon{
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 18px;
    transform: translateY(-50%);
    color: #fff;
}

.input-box input:focus ~ box-icon,
.input-box input:valid ~ box-icon{
    color: #FFCC00;
}

.btn{
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #FFCC00;
    overflow: hidden;
    z-index: 1;
}

.btn::before{
    content: "";
    position: absolute;
    height: 300%;
    width: 100%;
    background: linear-gradient(#FFCC00, #FFCC00, #FFCC00, #FFCC00);
    top: -100%;
    left: 0;
    z-index: -1;
    transition: .5s;
}

.btn:hover:before{
    top: 0;
}

.regi-link{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 10px;
}

.regi-link a{
    text-decoration: none;
    color: #FFCC00;
    font-weight: 600;
}

.regi-link p{
    color: white;
}

.regi-link a:hover{
    text-decoration: underline;
}

.info-content{
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-content.Login{
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
}

.info-content.Login .animation{
    transform: translateX(0);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--S));
    opacity: 1;
    filter: blur(0px);
}

.container.active .info-content.Login .animation{
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--D));
}

.info-content.Register{
    /* display: none; */
    left: 0;
    text-align: left;
    padding: 0 150px 60px 38px;
    pointer-events: none;
}

.info-content.Register .animation{
    transform: translateX(-120%);
    transition: .7s ease;
    opacity: 0;
    filter: blur(10PX);
    transition-delay: calc(.1s * var(--S));
}

.container.active .info-content.Register .animation{
    transform: translateX(0%);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--li));
}

.info-content h2{
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1.3;
}

.info-content p{
    font-size: 16px;
}

.container .curved-shape{
    position: absolute;
    right: 0;
    top: -5px;
    height: 600px;
    width: 850px;
    background: linear-gradient(45deg, #FFCC00, #FFCC00);
    /*transform: rotate(10deg) skewY(40deg);*/
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
    transition: 1.5s ease;
    transition-delay: 1.6s;
}

.container.active .curved-shape{
    transform: rotate(0deg) skewY(0deg);
    transition-delay: .5s;
}

.container .curved-shape2{
    position: absolute;
    left: 250px;
    top: 100%;
    height: 700px;
    width: 850px;
    background: #000F2C;
    border-top: 3px solid #FFCC00;
    transform: rotate(0deg) skewY(0deg);
    transform-origin: bottom left;
    transition: 1.5s ease;
    transition-delay: .5s;
}

.container.active .curved-shape2{
    transform: rotate(-11deg) skewY(-41deg);
    transition-delay: 1.2s;
}


