@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #000F2C;
}

/* Search Bar */
.skill-search-bar form {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 750px;
    margin: 1rem auto;
    height: 75px;
}
.skill-search-bar input {
    flex: 1;
    height: 50px;
    border-radius: 13px;
    border: solid #FFCC00;
    padding: 0 0.5rem 0 2rem;
    box-sizing: border-box;
    background-image: url("../../images/site/searchbar.png");
    background-position: 10px center; /* position icon inside input */
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.skill-listings {
    font-family: 'Poppins', sans-serif;
    width: 90%;
    margin: 1rem auto;
    border: solid #FFCC00;
    border-radius: 8px;
    padding: 12px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

/* .skills {
    text-align: center;
} */

.skill-item {
    border: solid #FFCC00;
    border-radius: 8px;
    width: 250px;
    margin: 10px auto;
    padding-left: 10px;
    line-height: 1.0;
    text-align: left;
}

li a {
    text-decoration: none;
    color: black;
}

.search-response {
    text-align: center;
    font-size: 20px;
}

.search-response .query {
    font-weight: bold;
}

.skill-search-bar {
    margin: 20px 0;
    text-align: center;
}

.filter-options {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.filter-options select,
.filter-options input[type="time"] {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 13px;
}

.availability {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
}

.availability label {
    font-weight: 500;
}

/*Gets rid of the search icon on top of the start end time selectors*/
input[type="time"] {
    background: none !important;
    background-image: none !important;
    padding-left: 8px !important;
}